.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 6rem;
    background: var(--color-header);
    color: var(--color-text);
    padding: 2rem;
}
.header .header-img img{
    max-width: 100%;
    max-height: 100%;
    margin-left: 2rem;
}

.header .header-content .header-form input{
    all: unset;
    background-color: var(--color-footer);
    color: var(--color-text);
    min-height: 45px;
    padding-left: .5rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 65%;
}

.header .header-content .header-form{
    display: flex;
}

.header .header-content .header-form button{
    all: unset;
    background-color: var(--color-orange);
    padding: .8rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.header .header-people{
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

.header .header-people p {
    font-family: var(--font-family);
    font-size: .8rem;
    font-weight: 550;
    letter-spacing: -0.06rem;
    margin-left: .8rem !important;
}

.header .header-people img{
    width: 120px;
}

.header .header-content {
    display: flex;
    flex-direction: column;
}

.header .header-content .header-content-text{
    margin: 1.5rem 0;
}
.header-content h1{
    background: var(--gradient-text);
    background-clip: text;
    color: transparent;
    font-weight: 800;
}

@media screen and (max-width: 1050px) {
    .header{
        flex-direction: column;
    }
    .header-content{
        margin: 0rem 0rem 3rem;
    }
}

@media screen and (max-width: 650px) {
    .header h1{
        font-size: 35px;
        line-height: 50px;
    }
    .header p{
        font-size: 1rem;
        line-height: 22px;
    }
    .header .header-people {
        flex-direction: column;
        margin-top: 1rem;
    }
    .header .header-content .header-people p{
        margin: 0;
    }
    .header .header-content button, .header .header-content input{
        font-size: 14px;
        line-height: 24px;
    }
    .header .header-img img{
        margin: 0;
    }
}
@media screen and (max-width: 490px){
    .header h1{
        font-size: 28px;
        line-height: 40px;
    }
    .header p{
        font-size: 14px;
        line-height: 22px;
    }
    .header .header-content button, .header .header-content input{
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (max-width: 620px){
    .header .header-content .header-form button, .header .header-content .header-form input{
        font-size: 10px;
        padding: 0 0.5rem;
    }
}